/* line 8, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
body {
  margin: 0;
}

/* line 26, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 45, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 57, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 66, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
[hidden],
template {
  display: none;
}

/* line 75, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
a {
  background: transparent;
}

/* line 82, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 91, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 98, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
dfn {
  font-style: italic;
}

/* line 114, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 122, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 130, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
small {
  font-size: 80%;
}

/* line 137, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 145, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
sup {
  top: -0.5em;
}

/* line 149, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 157, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
img {
  border: 0;
}

/* line 164, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 179, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 188, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
pre {
  overflow: auto;
}

/* line 195, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 214, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 227, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button {
  overflow: visible;
}

/* line 237, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button,
select {
  text-transform: none;
}

/* line 249, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 260, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 268, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 278, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
input {
  line-height: normal;
}

/* line 284, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
* input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 300, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 310, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 322, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 330, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 340, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 348, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
textarea {
  overflow: auto;
}

/* line 356, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 364, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 369, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_1.normalize.scss */
td,
th {
  padding: 0;
}

/* line 5, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 10, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
html {
  font-family: 'Alegreya', serif;
  scroll-behavior: smooth;
}

/* line 16, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
p, form, li {
  font-family: 'Alegreya Sans', sans-serif;
}

/* line 20, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
h1 {
  font-size: 2.4em;
  margin: 16px;
}

@media (min-width: 576px) {
  /* line 20, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  h1 {
    font-size: 3.4em;
  }
}

/* line 28, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
hr {
  margin: 10px -15px;
  width: calc(100% + 30px);
  border: 1px solid #87CEEB;
}

/* line 34, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 38, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
a:hover.github img {
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  filter: invert(1);
}

/* line 47, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
.bold {
  font-weight: bold;
}

/* line 52, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
.wrapper {
  padding: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  /* line 52, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .wrapper {
    max-width: 362px;
  }
}

@media (min-width: 768px) {
  /* line 52, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .wrapper {
    max-width: 550px;
  }
}

@media (min-width: 992px) {
  /* line 52, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .wrapper {
    max-width: 770px;
  }
}

@media (min-width: 1200px) {
  /* line 52, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .wrapper {
    max-width: 950px;
  }
}

/* line 70, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
.hidden {
  display: none;
}

@media (min-width: 576px) {
  /* line 74, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .hide-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  /* line 79, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .show-xs {
    display: initial;
  }
}

@media (min-width: 768px) {
  /* line 85, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 90, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .show-sm {
    display: initial;
  }
}

@media (min-width: 992px) {
  /* line 96, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .hide-md {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 101, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .show-md {
    display: initial;
  }
}

@media (min-width: 1200px) {
  /* line 107, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 112, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/2.base/_2.base.scss */
  .show-lg {
    display: initial;
  }
}

/* line 5, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.burger {
  position: absolute;
  font-size: 2em;
  top: -2px;
  left: -2px;
  z-index: 1;
  position: fixed;
}

/* line 14, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.sidebar {
  border-right: 2px solid #87CEEB;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  overflow: hidden;
  height: 100%;
}

/* line 22, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.sidebar h1 {
  transition: color 0.2s;
  color: #87CEEB;
  text-shadow: -1px -1px gray, 1px -1px #404040, -1px 1px #404040, 1px 1px black;
}

/* line 26, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.sidebar h1:hover {
  color: #30aadc;
}

/* line 30, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.sidebar .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 34, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_1.nav.scss */
.sidebar .flex-container p {
  margin: 5px 0;
}

/* line 5, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
section {
  overflow: hidden;
}

@media (min-width: 576px) {
  /* line 5, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  section {
    margin-left: 200px;
  }
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.sidebar {
  background-color: white;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.banner {
  background-color: grey;
  color: white;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.aboutme {
  background-color: white;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio {
  background-color: white;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.examples {
  background-color: white;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.scs {
  background-color: white;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact {
  background-color: #f2f2f2;
  color: black;
}

/* line 13, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.footer {
  background-color: white;
  color: black;
}

/* line 24, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.banner {
  border-bottom: 2px solid #87CEEB;
  color: white;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  text-align: center;
}

/* line 30, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.banner .flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 36, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.banner .flex-container > div {
  margin-top: auto;
  text-shadow: -1px -1px gray, 1px -1px #404040, -1px 1px #404040, 1px 1px black;
}

/* line 42, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.banner .flex-container > a {
  color: white;
  margin-top: auto;
}

/* line 55, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.aboutme img {
  max-width: 100%;
}

@media (min-width: 992px) {
  /* line 59, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .aboutme p {
    max-width: 50%;
  }
  /* line 62, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .aboutme img {
    float: right;
    max-width: 50%;
    margin: -75px 0 0 10px;
  }
}

@media (min-width: 1200px) {
  /* line 69, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .aboutme img {
    margin-top: -120px;
  }
}

/* line 81, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container, .examples .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* line 87, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container img, .examples .flex-container img {
  width: 100%;
}

/* line 90, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container h3, .portfolio .flex-container p, .examples .flex-container h3, .examples .flex-container p {
  margin: 0 10px;
}

/* line 93, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container h2, .examples .flex-container h2 {
  text-align: left;
}

@media (min-width: 992px) {
  /* line 81, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .portfolio .flex-container, .examples .flex-container {
    flex-flow: row wrap;
  }
  /* line 99, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .portfolio .flex-container > div, .examples .flex-container > div {
    flex: 1 0;
    min-width: calc(50% - (20px / 2));
  }
}

@media (min-width: 1200px) {
  /* line 105, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .portfolio .flex-container > div, .examples .flex-container > div {
    min-width: calc(33% - ((20px * 2) / 3));
  }
}

/* line 113, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container > * {
  position: relative;
  transition: scale 0.5s, transform 0.5s, top 0.5s, box-shadow 0.5s;
  top: 0;
}

/* line 117, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio .flex-container > *:hover {
  border: 1px solid #87CEEB;
  top: -10px;
  scale: 105%;
  transform: rotate(-1deg);
  background-color: rgba(135, 206, 235, 0.5);
  box-shadow: 0 0 10px 5px #87CEEB;
}

/* line 129, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio-card p {
  padding: 5px 10px;
}

/* line 133, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.portfolio-card:hover p {
  text-decoration: underline;
}

/* line 139, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.placeholder {
  filter: brightness(0.25);
}

/* line 149, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.scs h2 {
  margin-top: 40px;
}

/* line 152, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.scs p {
  margin-left: 40px;
}

/* line 155, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.scs ul {
  list-style: none;
}

/* line 158, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.scs img {
  position: relative;
  width: 50px;
  top: 15px;
  left: 15px;
}

/* line 172, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 992px) {
  /* line 172, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .contact .flex-container {
    flex-direction: row;
  }
  /* line 178, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .contact .flex-container > div {
    max-width: 38%;
  }
  /* line 181, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .contact .flex-container > form {
    height: 100%;
  }
}

/* line 186, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact form {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

/* line 190, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact form #first, .contact form #last, .contact form #email, .contact form #subject, .contact form #message {
  width: 100%;
}

@media (min-width: 576px) {
  /* line 194, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
  .contact form #first, .contact form #last {
    flex: 1 0;
  }
}

/* line 199, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact input[type=text], .contact input[type=email] {
  height: 50px;
}

/* line 202, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact input[type=submit] {
  font-size: 1.2em;
}

/* line 205, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.contact a:hover {
  color: #30aadc;
  text-decoration: none;
}

/* line 211, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
input[type="text"], input[type="email"], textarea {
  padding-left: 10px;
  transition: box-shadow 0.5s;
  border-radius: 5px;
  border: 1px solid black;
}

/* line 216, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #30aadc;
  box-shadow: 0 0 10px 5px #87CEEB;
}

/* line 220, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  border-color: #30aadc;
}

/* line 224, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
textarea {
  padding-top: 10px;
}

/* line 232, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/3.layout/_2.sections.scss */
.footer {
  border-top: 2px solid #87CEEB;
  text-align: center;
}

/* line 5, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-basic, .btn-burger, .btn-nav, .btn-banner, .btn-footer {
  transition: background-color 0.2s, box-shadow 0.5s;
  padding: 5px 10px;
  display: inline-block;
}

/* line 9, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-basic:hover, .btn-burger:hover, .btn-nav:hover, .btn-banner:hover, .btn-footer:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 0 10px 5px #87CEEB;
}

/* line 14, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-basic h3, .btn-burger h3, .btn-nav h3, .btn-banner h3, .btn-footer h3 {
  margin: 0;
}

/* line 19, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-basic {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b3e0f2;
}

/* line 24, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-basic:hover {
  background-color: #30aadc;
}

/* line 29, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-burger {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 32, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-burger:hover {
  background-color: rgba(48, 170, 220, 0.5);
  box-shadow: 0 0 10px 5px rgba(48, 170, 220, 0.5);
}

/* line 38, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-nav {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 43, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-nav:hover {
  background-color: #30aadc;
}

/* line 48, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-banner {
  background-color: transparent;
}

/* line 51, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-banner:hover {
  color: black;
  background-color: rgba(135, 206, 235, 0.5);
  box-shadow: 0 0 10px 5px rgba(135, 206, 235, 0.5);
}

/* line 60, ../../Users/paulr/Desktop/Netmatters/Portfolio/scss/4.components/_1.buttons.scss */
.btn-footer:hover {
  background-color: #5bbce4;
}

/*# sourceMappingURL=stylesheet.css.map */