// ==========================================================================
// Base Styles
// ==========================================================================

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Alegreya', serif; // make Alegreya the default font
    font-size: 1.1em;
    scroll-behavior: smooth;
}

p, form, li {                                       // Adjust font for paragraph and form elements
    font-family: 'Alegreya Sans', sans-serif;   // make Alegreya-Sans the default font for readability
}

h1 {
    font-size: 2.4em;
    margin: 16px;
    @media (min-width: $breakpoint-xs) {
        font-size: 3.4em;
    }
}

hr {
    margin: 10px -15px;
    width: calc(100% + 30px);
    border: 1px solid $color-primary;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        &.github img {  
            border: 2px solid white;
            border-radius: 50%;
            background-color: white;
            filter: invert(1);
        }
    }
}

.bold {
    font-weight: bold;
}


.wrapper {
    padding: 15px;
    margin: 0 auto;
    @media (min-width: $breakpoint-xs) {
        max-width: $wrapper-xs;
    }
    @media (min-width: $breakpoint-sm) {
        max-width: $wrapper-sm;
    }
    @media (min-width: $breakpoint-md) {
        max-width: $wrapper-md;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: $wrapper-lg;
    }
}


.hidden {       // Hide at screen width 1+
    display: none;
}

.hide-xs {      // Hide at screen width 576+
    @media (min-width: $breakpoint-xs) {
        display: none;
    }
}
.show-xs {      // Show (inherit) at screen width 576+
    @media (min-width: $breakpoint-xs) {
        display: initial;
    } 
}

.hide-sm {      // Hide at screen width 768+
    @media (min-width: $breakpoint-sm) {
        display: none;
    }
}
.show-sm {      // Show (inherit) at screen width 768+
    @media (min-width: $breakpoint-sm) {
        display: initial;
    } 
}

.hide-md {      // Hide at screen width 992+
    @media (min-width: $breakpoint-md) {
        display: none;
    } 
}
.show-md {      // Show (inherit) at screen width 992+
    @media (min-width: $breakpoint-md) {
        display: initial;
    } 
}

.hide-lg {      // Hide at screen width 1260+
    @media (min-width: $breakpoint-lg) {
        display: none;
    } 
}
.show-lg {      // Show (inherit) at screen width 1260+
    @media (min-width: $breakpoint-lg) {
        display: initial;
    }   
}