// ==========================================================================
// Base Styles
// ==========================================================================
* {
    box-sizing: border-box;
}

html {
    //font-family: #TODO;
    // font-size: 1em; // 16px
}

h1 {
    font-size: 50px;
}

.banner {
    background-image: url(../img/banner.avif);
    background-size: cover;
    text-align: center;
    .flex-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.test {
    background-color: #666;
}

.wrapper {
    padding: 15px;
    margin: 0 auto;
    @media (min-width: $breakpoint-xs) {
        max-width: $wrapper-xs;
    }
    @media (min-width: $breakpoint-sm) {
        max-width: $wrapper-sm;
    }
    @media (min-width: $breakpoint-md) {
        max-width: $wrapper-md;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: $wrapper-lg;
    }
}