// ==========================================================================
// Component - Buttons
// ==========================================================================

.btnx {
    @extend .btn-nb;
    border: 1px solid black;
    background-color: rgba(black, 0.1);
}

.btn-nb { 
    padding: 5px 10px;
    display: inline-block;
    &:hover {
        border-color: transparent;
        background-color: transparent;
        color: white;
        background-color: rgba(black, 0.75);
        box-shadow: 0 0 10px 10px rgba(black, 0.75);
    }
    h3 {
        margin: 0;
    }
}

%btn {
    padding: 5px 10px;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
    h3 {
        margin: 0;
    }
}

.btn-basic {
    @extend %btn;
    transition: background-color 0.2s, color 0.2s;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lighten($color-primary, 10%);
    &:hover {
        color: white;
        background-color: darken($color-primary, 10%);
    }
}

.btn-burger {
    @extend %btn;
    background-color: rgba(white, 0.2);
    &:hover {
        color: white;
        // background-color: rgba(black, 0.2);
        background-color: rgba(darken($color-primary, 20%), 0.5);
    }
}

.btn-nav {
    @extend %btn;
    transition: box-shadow 0.5s, background-color 0.2s;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
        color: white;
        background-color: darken($color-primary, 20%);
        box-shadow: 0 0 10px 5px $color-primary;
    }
}

.btn-banner, .btn-footer {
    @extend %btn;
    transition: background-color 0.2s, box-shadow 0.5s;
    // background-color: rgba(black, 0.2);
    background-color: transparent;
    &:hover {
        color: black;
        // background-color: rgba(white, 0.2);
        background-color: rgba($color-primary, 0.5);
        box-shadow: 0 0 10px 5px rgba($color-primary, 0.5);
    }
}

.btn-portfolio {
    @extend %btn;
    &:hover {
        color: white;
        background-color: rgba(black, 0.2);
    } 
}