// ==========================================================================
// Nav Layout
// ==========================================================================

.burger {
    position: absolute;
    font-size: 2em;
    top: -2px;
    left: -2px;
    z-index: 2;
    position: fixed;
}

.sidebar {
    z-index: 1;
    border-right: 2px solid $color-primary;
    width: 200px;
    position: fixed;
    overflow: hidden;
    height: 100%;
    h1 {
        font-size: 3.75em;
        transition: color 0.2s;
        color: $color-primary;
        text-shadow: -1px -1px lighten(black, 50%), 1px -1px lighten(black, 25%), -1px 1px lighten(black, 25%), 1px 1px black;
        &:hover {
            color: darken($color-primary, 20%);
        }
    }
    img {
        margin: 10px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 5px 0;
        }
    }
    @media (max-height: 450px) {    // when under 450px tall squish it to be compatible down to 360px screen height.
        div {
            padding-top: 0;
        }
        h1, hr {
            margin: 0;
        }
    }

}
