// ==========================================================================
// Sections Layout
// ==========================================================================

section {
    // overflow: hidden;
}

@each $section, $color in $background-colors {
    .#{$section} {
        background-color: $color;
        color: map-get($section-colors, $section);
    }
}


// ==========================================================================
// Banner Layout
// ==========================================================================

.banner {
    margin-bottom: 20px;
    transform: skewY(-5deg);
    border-top: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    color: white;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
    .flex-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            // background-color: rgba(black, 0.5);
            // box-shadow: 0 0 40px 50px rgba(black, 0.5);
            margin-top: auto;
            text-shadow: -1px -1px lighten(black, 50%), 1px -1px lighten(black, 25%), -1px 1px lighten(black, 25%), 1px 1px black;
        }
        > a {
            color: white;
            margin-top: auto;
        }
    }    
}


// ==========================================================================
// About Me Layout
// ==========================================================================

.aboutme {
    .inline {
        display: inline-block;
    }
    h2 {
        margin-top: 40px;
    }
    .skills {
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    @media (min-width: $breakpoint-md) {
        .flex {
            display: flex;
        }
        p {
            max-width: 90%;
        }
        .picture {
            max-width: 90%;
            display: block;
        }
    }
}


// ==========================================================================
// Portfolio Layout
// ==========================================================================

.portfolio {
    .flex-container {
        display: flex;
        flex-direction: column;
        $gap: 20px;
        gap: $gap;

        img {
            width: 100%;
            border-bottom: 1px solid rgba($color-primary, 0.25);
        }
        h3, p {
            margin: 0 10px;
        }
        p {
            padding: 5px 0;
            &.view {
                padding-left: 10px;
            }
        }
        h2 {
            text-align: left;
        }
        > *:not(.placeholder) { // flex items
            position: relative;
            transition: scale 0.5s, transform 0.5s, top 0.5s, box-shadow 0.5s;
            border: 1px solid rgba($color-primary, 0.25);
            top: 0;
            a {
                color: black;
            }
            &:hover {
                border: 1px solid $color-primary;
                top: -10px;
                scale: 105%;
                transform: rotate(-1deg);
                box-shadow: 0 0 10px 5px $color-primary;
                .view {
                    text-decoration: underline;
                }
            }
        }
        @media (min-width: $breakpoint-md) {
            flex-flow: row wrap;
            > div {
                flex: 1 0;
                min-width: calc(50% - (#{$gap} / 2));           // calculate the gap to remove to maintain 50%
            }
        }
        @media (min-width: $breakpoint-lg) {
            > div {
                min-width: calc(33% - ((#{$gap} * 2) / 3));     // calculate the gap to remove to maintain 33%
            }
        }
    }
}

.placeholder {
    img {
        filter: brightness(0.25);
    }
}


// ==========================================================================
// Examples Layout
// ==========================================================================

.examples {
    .wrapper > div {
        margin: 40px 0;
        @media (min-width: $breakpoint-xs) {
            border: 1px solid rgba($color-primary, 0.25);
        }
    }
    pre {
        @media (max-width: (576px - 1)) {
            margin: 0 -15px;
        }
        code.hljs {
            background-color: rgba($color-primary, 0.2);
        }
    }
    p {
        padding: 0 10px;
    }
}

.example1{
    // overflow: inherit;
    width: 150px;
    margin: 15px auto;
    text-align: center;
    position: relative;
    $arrow-width: 100px;
    $box-width: 240px;
    .arrow {
        position: absolute;
        color: #333645;
        height: 0;
        width: $arrow-width;
        bottom: calc(100% + 15px);
        left: calc(50% - (#{$arrow-width} / 2));
        border-left: ($arrow-width / 2) solid transparent;
        border-right: ($arrow-width / 2) solid transparent;
        border-top: ($arrow-width / 2) solid;
    }
    .box {
        
        position: absolute;
        background-color: #333645;
        width: $box-width;
        bottom: calc(100% + (#{$arrow-width} / 2) + 15px);
        left: calc(50% - (#{$box-width} / 2));
        color: white;
        h2 {
            margin: 15px;
        }
        hr {
            margin: auto;
            border-color: white;
            width: 90%;
        }
    }
    &:hover {
        cursor: default;
        .arrow, .box {
            display: block;
        }
    }
}


.example2{
 
    $service-colors: (
        'bespoke-software':     #67809F,    // hoki
        'it-support':           #4183D7,    // havelock-blue
        'digital-marketing':    #2ECC71,    // shamrock
        'telecoms-services':    #D64541,    // valencia
        'web-design':           #926FB1,    // wisteria
        'cyber-security':       #F62459,    // radical-red
        'developer-course':     #CE4125,    // punch
    );

    $service-icons: (
        'bespoke-software':     "\f58e",    // fa-grip-vertical
        'it-support':           "\e163",    // fa-display
        'digital-marketing':    "\f201",    // fa-chart-line
        'telecoms-services':    "\f2a0",    // fa-phone-volume
        'web-design':           "\f121",    // fa-code
        'cyber-security':       "\f3ed",    // fa-shield-halved
        'developer-course':     "\f19d",    // fa-graduation-cap
    );

    @mixin icon($service, $font-size) {
        &::before {
            font-size: $font-size;
            content: map-get($service-icons, $service);
        }
    }

    @each $service, $color in $service-colors {
        .#{$service} {
            i {
                @include icon($service, 2em);
            }
            > i::before {
                text-align: center;
                line-height: 2em;
                display: block;
                border-radius: 50%;
                width: 65px;
                height: 65px;
                background: $color;
                color: white;
            }
            &:hover {
                top: -10px;
                background-color: $color;
                color: white;
                i::before {
                    color: $color;
                    background-color: white;
                }
            }
        }
    }

    p {
        text-align: center;
        margin: 0;
    }
    > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0 5px;
        // margin: 0 5px;
        > div {
            margin: 5px 0px;
        }
    }
}

.example3 {
    p, form {
        text-align: center;
        margin: 0;
    }
    form {
        display: flex;
        margin-bottom: 15px;
        @media (min-width: $breakpoint-xs) {
            width: 300px;
            margin: auto;
        }
    }
    input[type=email] {
        height: 35px;
        min-width: 200px;
        flex-grow: 1;
        border-radius: 5px 0 0 5px;
    }
    input[type=submit] {
        height: 35px;
        
        border-left: none;
        border-radius: 0 5px 5px 0;
    }
}
#popup {
    margin: 0;
    padding-bottom: 20px;
    position: fixed;
    z-index: 2;
    background-color: black;
    color: red;
    text-align: center;
    left: 0;
    width: 100vw;
    bottom: -21px;
    display: none;
}

.example4 {
    img {
        @media (max-width: $breakpoint-lg) {
            width: 100%;
        }
    }
    table {
        margin: 10px;
    }
    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        font-weight: bold;
    }
}


// ==========================================================================
//  SCS Layout
// ==========================================================================

.scs {
    h2 {
        margin-top: 40px;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    img {
        position: relative;
        width: 50px;
        top: 15px;
        left: 15px;
    }
    @media (min-width: $breakpoint-sm) {
        p, ul {
            padding-left: 20px;
        }
    }
}


// ==========================================================================
//  Contact Layout
// ==========================================================================

.contact {
    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            > div {
                max-width: 38%;
            }
            > form {
                height: 100%;
            }
        }
    }
    form {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        #successMessage {
            margin: 0;
            padding: 5px 10px;
            color: white;
            background-color: green;
        }
        label {
            position: relative;
            p {
                pointer-events: none;
                // position: absolute;
                color: red;
                margin: 0;
                padding: 4px 0 0 20px;
                font-size: 0.77778em;
                // bottom: 2px;
                opacity: 0.5;
            }
        }
        #first, .first, #last, .last, .email, #email, .phone, #phone, #subject, .subject, #message, .message {
            width: 100%;
        }
        @media (min-width: $breakpoint-xs) {
            .first, .last {
                flex: 1 0;
            }
        }
    }
    input[type=text], input[type=email] {
        height: 50px;
    }
}

input[type="text"], input[type="email"], textarea {
    padding-left: 10px;
    transition: box-shadow 0.5s;
    border-radius: 5px;
    border: 1px solid black;
    &:focus {
        border-color: darken($color-primary, 20%);
        box-shadow: 0 0 10px 5px $color-primary;
    }
    &:hover {
        border-color: darken($color-primary, 20%);
    }
    &.error {
        border: 1px solid red;
    }
}
textarea {
    padding-top: 10px;
    resize: none;
}

// ==========================================================================
//  Footer Layout
// ==========================================================================

.footer {
    border-top: 2px solid $color-primary;
    text-align: center;
    .flex-container {
        display: flex;
        justify-content: center;
    }
}