// ==========================================================================
// Sections Layout
// ==========================================================================

section {
    overflow: hidden;
    @media (min-width: $breakpoint-xs) {    // placeholder until menu toggle is added
        margin-left: 200px;
    }
}

@each $section, $color in $background-colors {
    .#{$section} {
        background-color: $color;
        color: map-get($section-colors, $section);
    }
}


// ==========================================================================
// Banner Layout
// ==========================================================================

.banner {
    border-bottom: 2px solid $color-primary;
    color: white;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
    .flex-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            // background-color: rgba(black, 0.5);
            // box-shadow: 0 0 40px 50px rgba(black, 0.5);
            margin-top: auto;
            text-shadow: -1px -1px lighten(black, 50%), 1px -1px lighten(black, 25%), -1px 1px lighten(black, 25%), 1px 1px black;
        }
        > a {
            color: white;
            margin-top: auto;
        }
    }    
}


// ==========================================================================
// About Me Layout
// ==========================================================================

.aboutme {
    img {
        max-width: 100%;
    }
    @media (min-width: $breakpoint-md) {
        p {
            max-width: 50%;
        }
        img {
            float: right;
            max-width: 50%;
            margin-top: -75px;
            padding-left: 10px;
        }
    }
    @media (min-width: $breakpoint-lg) {
        img {
            margin-top: -120px;
        }
    }
}


// ==========================================================================
// Portfolio & Examples Layout
// ==========================================================================

.portfolio, .examples {
    .flex-container {
        display: flex;
        flex-direction: column;
        $gap: 20px;
        gap: $gap;

        img {
            width: 100%;
        }
        h3, p {
            margin: 0 10px;
        }
        p {
            padding: 5px 0;
            &.view {
                padding-left: 10px;
            }
        }
        h2 {
            text-align: left;
        }

                @media (min-width: $breakpoint-md) {
            flex-flow: row wrap;
            > div {
                flex: 1 0;
                min-width: calc(50% - (#{$gap} / 2));           // calculate the gap to remove to maintain 50%
            }
        }
        @media (min-width: $breakpoint-lg) {
            > div {
                min-width: calc(33% - ((#{$gap} * 2) / 3));     // calculate the gap to remove to maintain 33%
            }
        }
        > * { // flex items
            border: 1px solid rgba($color-primary, 0.25);
        }
    }
}

.portfolio .flex-container {
    > * { // flex items
        position: relative;
        transition: scale 0.5s, transform 0.5s, top 0.5s, box-shadow 0.5s;
        top: 0;
        a {
            color: black;
        }
        &:hover {
            border: 1px solid $color-primary;
            top: -10px;
            scale: 105%;
            transform: rotate(-1deg);
            background-color: rgba($color-primary, 0.5);
            box-shadow: 0 0 10px 5px $color-primary;
            .view {
                text-decoration: underline;
            }
        }
    }
}

.examples {

    pre {
        margin: 0 -7px;
        @media (max-width: 290px) {
            margin: 0 -14px;
        }
        code.hljs {
            background-color: rgba($color-primary, 0.1);
            padding: 0;
            font-size: 0.5em;
            @media (min-width: 350px) {
                font-size: 0.6em;
            }    
        }
    }
    .example {
        p {
            padding-left: 20px;
        }
    }
}

.placeholder {
    img {
        filter: brightness(0.25);
    }
}


// ==========================================================================
//  SCS Layout
// ==========================================================================

.scs {
    h2 {
        margin-top: 40px;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    img {
        position: relative;
        width: 50px;
        top: 15px;
        left: 15px;
    }
    @media (min-width: $breakpoint-sm) {
        p, ul {
            padding-left: 20px;
        }
    }
}


// ==========================================================================
//  Contact Layout
// ==========================================================================

.contact {
    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            > div {
                max-width: 38%;
            }
            > form {
                height: 100%;
            }
        }
    }
    form {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        label {
            position: relative;
            p {
                pointer-events: none;
                position: absolute;
                color: red;
                margin: 0;
                padding: 4px 0 0 20px;
                font-size: 0.85em;
                bottom: 2px;
                opacity: 0.5;
            }
        }
        #first, .first, #last, .last, .email, #email, .phone, #phone, #subject, .subject, #message, .message {
            width: 100%;
        }
        @media (min-width: $breakpoint-xs) {
            .first, .last {
                flex: 1 0;
            }
        }
    }
    input[type=text], input[type=email] {
        height: 50px;
    }
    input[type=submit] {
        font-size: 1.2em;
    }
}

input[type="text"], input[type="email"], textarea {
    padding-left: 10px;
    transition: box-shadow 0.5s;
    border-radius: 5px;
    border: 1px solid black;
    &:focus {
        border-color: darken($color-primary, 20%);
        box-shadow: 0 0 10px 5px $color-primary;
    }
    &:hover {
        border-color: darken($color-primary, 20%);
    }
}
textarea {
    padding-top: 10px;
}

// ==========================================================================
//  Footer Layout
// ==========================================================================

.footer {
    border-top: 2px solid $color-primary;
    text-align: center;
    .flex-container {
        display: flex;
        justify-content: center;
    }
}