// ==========================================================================
// Global Config
// ==========================================================================

// Breakpoints  // Used with media queries to control layout
$breakpoint-xs    : 576px;
$breakpoint-sm    : 768px;
$breakpoint-md    : 992px;
$breakpoint-lg    : 1200px;
// Margins      // Used with wrapper to keep content within bounds
$wrapper-xs       : $breakpoint-xs - 14px - 200px;      
$wrapper-sm       : $breakpoint-sm - 18px - 200px;      // remove 200px for nav here until i have a working menu toggle
$wrapper-md       : $breakpoint-md - 22px - 200px;
$wrapper-lg       : $breakpoint-lg - 50px - 200px;

// Colors
$color-white-1: darken(white,5%);
$color-white-2: darken(white,10%);
$color-primary: #87CEEB; // skyblue

// Maps
$background-colors: (
    'sidebar':      white,
    'banner':       grey,   // concealed
    'aboutme':      white,
    'portfolio':    white, 
    'examples':     white,
    'scs':          white,
    'contact':      $color-white-1,
    'footer':       white,
);

$section-colors: (
    'sidebar':      black,
    'banner':       white,
    'aboutme':      black,
    'portfolio':    black,
    'examples':     black,
    'scs':          black,
    'contact':      black,
    'footer':       black,
);